header
  h1 Welcome to Shine! #{current_user.email}

  h2 We are using Rails #{Rails.version}

section
  p Future Home of Shine Dashboard
  = link_to 'Logout', destroy_user_session_path, method: :delete