li.list-group-item.clearfix
  h3.pull-right
    small= 'Joined' << ' '
    = customer.created_at.to_date
  h2
    = customer.first_name << ' ' << customer.last_name << ' '
    small= customer.username
  h4= customer.email
