section
  shine-customers-app
= javascript_pack_tag 'customers'


/header
/  h1.h2 Customer Search
/  hello-angular
/  = javascript_pack_tag 'hello_angular'
/
/section.search-from
/  = form_for :customers,method: :get do |f|
/    .input-group.input-lg
/      = label_tag :keywodrs, nil, class: 'sr-only'
/      = text_field_tag :keywords, nil,
/              placeholder: 'First Name, Last Name or Email Address',
/              class: 'form-control input-lg'
/      span.input-group-btn= submit_tag 'Find Customers',
/              class: 'btn btn-primary btn-lg'
/
/section.search-results
/  header
/    h1.h3 Results
/
/  - if @customers.present?
/    = render partial: 'pager', locals: { keywords: @keywords, page: @page }
/
/  ol.list-group
/    = render @customers
/
/  - if @customers.present?
/    = render partial: 'pager', locals: {keywords: @keywords, page: @page}