<header>
  <h2>Log in</h2>
</header>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %>
        Remember me
      </label>
    </div>
  <% end -%>

    <%= f.submit "Log in", class: 'btn btn-primary btn-lg' %>

<% end %>

<%= render "devise/shared/links" %>
