doctype html
html
  head
    title Shine
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    - if @base_url
      base href="#{@base_url}"

  body.container
    - if notice.present?
      aside.alert.alert-info= notice
    - elsif alert.present?
      aside.alert.alert-danger= alert
    = yield

